<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Enviar Fotos</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>

    <form method="POST" action="/upload" enctype="multipart/form-data">
    	<input type="file" name="file" accept="image/*" capture="camera"/><br/><br/>
    	<input type="text" name="story"/><br/><br/>
    	<input type="submit" value="Submit" />
	</form>
	<img src="/imgs/0.gif">
    
    <script src="js/bootstrap.min.js"></script>
</body>
</html>