<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Enviar Story</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
	<div class="row">
	<div class="card col">
	<div class="card-body">
		<h5 class="card-title">ENVIE UM STORY, É DE GRAÇA!!</h5>
		
	    <form method="POST" action="/" enctype="multipart/form-data">
	    	<div class="form-group">
	    		<label for="file">Tire sua foto</label>
	    		<div>
					<button class= "btn btn-primary btn-block" onclick="callCamera(event)">CAMERA</button>
				
					<input id="foto" type="file" name="file" accept="image/*" capture="camera" hidden onchange="refreshPrev(this)"/>
					
					<div class="card">
					<div class="card-body">
						<img id="foto-prev" src="" style="display: none" height="200px" width="100%"/>
					</div>
					</div>
				</div>
	    		<small id="photoHelp" class="form-text text-muted">Não envie nada de errado. Por favor.</small>
    		</div>
    		<div class="form-group">
    			<label for="story">E coloque uma legenda:</label>
	    		<input type="text" class="form-control" name="story"/>
	    		<small id="storyHelp" class="form-text text-muted">A legenda é optativa 😉</small>
    		</div>
    		
   			<label>Agora é só enviar 😁</label><br>
    		<input type="submit" class="btn btn-primary" value="Enviar Story" />    		
	    	
		</form>
	</div>
	</div>
	</div>
	</div>

    
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
    	function callCamera(e) {
    		e.preventDefault();
    		$('#foto').trigger('click');
    	}
    	
    	function refreshPrev(input) {
    		if(input.files && input.files[0]) {
    			var reader = new FileReader();

    		    reader.onload = function(e) {
    		      $('#foto-prev').attr('src', e.target.result);
    		      $('#foto-prev').show();
    		    };

    		    reader.readAsDataURL(input.files[0]);
    		}
    	}
    </script>
</body>
</html>